{% extends 'base.html' %}
{% load humanize %}

{% block title %} | User Dashboard {% endblock %}
{% block content %}
<section id="showcase-inner" class="py-3 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">User Dashboard</h1>
          <p class="lead">Your cryptocurrency portfolio</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome, {{ user.first_name }}!</h2>
          
          {% if trans %}
          <table class="table">
            <thead>   
              <tr>
                <th>Coin</th>
                <th class="text-right">Qty</th>
                <th class="text-right">Latest Price (USD)</th>
                <th class="text-right">Cost (USD)</th>
                <th class="text-right">Value (USD)</th>
                <th class="text-right">Unrealized <br/>Gain/Loss (USD)</th>
              </tr>
            </thead>
            <tbody>
              {% for tran in trans %}
              <tr>
                <td>{{ tran.0 }}</td>
                <td align="right">{{ tran.1|stringformat:".2f"|intcomma }}</td>
                <td align="right">{{ tran.2|stringformat:".2f"|intcomma }}</td>
                <td align="right">{{ tran.3|stringformat:".2f"|intcomma }}</td>
                <td align="right"><span class="transAmount">{{ tran.4|stringformat:".2f"|intcomma }}</span></td>
                <td align="right" style="font-weight: bold"><span class="transAmount">{{ tran.5|stringformat:".2f"|intcomma }}</span></td>
              </tr>
              {% endfor %}
              <tr>
                <td align="right" colspan="3"><b>GRAND TOTAL:</b></td>
                <td align="right"><span class="transAmount"><b>{{ grandtotal_cost|stringformat:".2f"|intcomma }}</b></span></td>
                <td align="right"><span class="transAmount"><b>{{ grandtotal_value|stringformat:".2f"|intcomma }}</b></span></td>
                <td align="right" style="font-weight: bold"><b><span class="transAmount">{{ grandtotal_gainloss|stringformat:".2f"|intcomma }}</b></span></td>
              </tr>
            </tbody>
          </table>
        {% else %}
          <p>You do not have any coins on your portfolio.</p>
        {% endif %}
        <div class="row">
          <div class="col-md-12">
            {% if trans.has_other_pages %}
              <ul class="pagination">
                {% if trans.has_previous %}
                  <li class="page-item">
                    <a href="?page=1" class="page-link">|&laquo;</a>
                  </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link">|&laquo;</a>
                </li>
                {% endif %}
                {% if trans.has_previous %}
                  <li class="page-item">
                    <a href="?page={{ trans.previous_page_number }}" class="page-link">&laquo;</a>
                  </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
                {% endif %}
                {% for i in trans.paginator.page_range %}
                  {% if trans.number == i %}
                    <li class="page-item active">
                      <a class="page-link">{{i}}</a>
                    </li>
                  {% else %}
                    <li class="page-item">
                      <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                {% if trans.has_next %}
                  <li class="page-item">
                    <a href="?page={{ trans.next_page_number }}" class="page-link">&raquo;</a>
                  </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
                {% endif %}
                {% if trans.has_next %}
                  <li class="page-item">
                    <a href="?page={{ trans.paginator.num_pages }}" class="page-link">&raquo;|</a>
                  </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;|</a>
                </li>
                {% endif %}
              </ul>
            {% endif %}
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    // 09/20/2021 LG
    // Code copied from Flame Denise Fiddle, https://jsfiddle.net/flamedenise/gz12k3qf/ 
    // 03/11/17 ITWitch stackoverflow answer: https://stackoverflow.com/questions/42733788/django-change-text-color-based-on-value-html-js/42734211
    //start
    var els = document.getElementsByClassName('transAmount');
    for (var i = 0; i < els.length; i++) {
      var cell = els[i];
      console.log(cell.textContent.replace(',',''))
      if (parseFloat(cell.textContent.replace(',','')) < 0) {
        cell.classList.remove('green-font')
        cell.classList.add('red-font')
      } else {
        cell.classList.remove('red-font');
        cell.classList.add('green-font');
      }
    }
    //end
  </script>
  {% endblock %}